.blue-link
{
    text-decoration: none;
    color: #7b9ccc;
}

.lightgray-text
{
    color: lightslategray;
}

.gradient-button,
.blue-text-button
{
    height: 35px;
    cursor: pointer;
}

.gradient-button
{
    border: 1px solid #eee;
    background: linear-gradient(45deg, #ffcaca, #d0e1fa);
    opacity: .6;
}

.blue-text-button
{
    margin: 15px;
    border: none;
    background: none;
    color: #98b6e2;
    font-weight: bold;
    font-size: 16px;
}

input[type='text']
{
    border: none;
    border-bottom: 2px solid #eee;
}

input[type='text']:focus
{
    outline: none;
    cursor: pointer;
}

.general-layout
{
    display: grid;
    grid-template: '. headline .' 300px
        '. main . ' 500px
        '. main . ' auto
        '. footer .' 250px
        /15% 70% 15%;
    margin: 10px 15px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    font-family: 'Helvetica', 'Trebuchet MS', sans-serif;
}

.headline
{
    display: grid;
    grid-area: headline;
    grid-template: 'information img'
    'horizontal-line horizontal-line'
        /70% 30%;
}

.headline__information
{
    grid-area: information;
    display: grid;
    grid-template: 'first'
        'second'
        'third';
}

.first
{
    grid-area: first;
}

.second
{
    grid-area: second;
}

.third
{
    grid-area: third;
}

.headline__horizontal-line
{
    grid-area: horizontal-line;
    display: flex;
    height: 1px;
    border: 1px solid #eee;
    background-color: #eee;
}

.headline__img
{
    grid-area: img;
    width: 220px;
    height: 150px;
}

.bird
{
    padding-top: 50px;
    width: 100%;
}

main
{
    display: grid;
    grid-area: main;
    grid-template: 'bank'
        'products' auto
        /auto;
}

.bank
{
    display: grid;
    grid-area: bank;
    grid-template: 'operations'
        'date';
    
}

.cards,
.page-1,
.page-2,
.page-3,
input[type='radio']
{
    display: none;
}

.operations
{
    grid-area: operations;
}

.page-1,
.page-2,
.page-3
{
    grid-area: date;
}

input[id='request-payment']:checked ~ .bank
{
    grid-template: 'operations'
    'cards'
    'date';
}

input[id='request-payment']:checked ~ .bank .cards
{
    display: block;
    grid-area: cards;
}

input[id='request-payment']:checked ~ input[id='another-bank']:checked ~.bank .page-1,
input[id='request-payment']:checked ~ input[id='personal-bank']:checked ~.bank .page-2,
input[id='pay']:checked ~.bank .page-3
{
    display: flex;
    flex-direction: column;
}

input[id='request-payment']:checked ~ input[id='another-bank']:checked ~.bank label[for='another-bank'],
input[id='request-payment']:checked ~ input[id='personal-bank']:checked ~.bank label[for='personal-bank'],
input[id='pay']:checked ~.bank label[for='pay'],
input[id='request-payment']:checked ~ .bank label[for='request-payment']
{
    color: #9c9c9c;
}

.operations__label,
.cards__label
{
    display: inline-block;
    margin: 20px;
}

.cards__label
{
    margin: 5px;
}

.cards__label .blue-text-button
{
    font-size: 13px;
}

.info-p1
{
    display: flex;
}

.page-1 p,
.page-2 p,
.page-3 p
{
    display: flex;
    justify-content: flex-start;
    padding: 0 30px;
}

.button-p1,
.button-p2,
.button-p3
{
    left: 350px;
    width: 200px;
    margin: 20px 0 50px 0;
    align-self: center;
}

.input-p1,
.input-p2,
.input-p3
{
    width: 70%;
    margin-left: auto;
}

.products
{
    grid-area: products;
    display: grid;
    grid-template: 'title'
        'items';
}

.products__title
{
    grid-area: title;
    text-align: center;
}

.products__items
{
    grid-area: items;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.contact-information
{
    grid-area: footer;
}

.card
{
    width: 250px;
    display: inline-block;
    border: 1px solid lightgray;
    margin: 0 0 30px 30px;
    text-align: left;
}

.card:hover
{
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.card__info
{
    padding-left: 10px;
}

.card__img
{
    overflow: hidden;
    width:250px;
}

.info-img
{
    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    -webkit-transition: all 1s ease-out;
    width: 100%;
}

.info-img:hover
{
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
}

.footer
{
    grid-area: footer;
    padding: 20px;
}

.full-information
{
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
    text-overflow: ellipsis;
    overflow: hidden;
    min-width: 400px;
}

.content 
{
    display: none;
    min-width: 400px;
    margin-top: 40px;
}

#hider
{
    display: none;
}

#hider:checked ~ .content
{
    display: flex;
    flex-wrap: wrap;
}

#hider:checked ~ .full-information,
#hider:checked ~ #show
{
    display: none;
}

#show 
{
    text-decoration: none;
    color: blue;
    cursor: pointer;
}


@media screen and (max-width: 768px)
{
    .headline
{
    display: grid;
    grid-area: headline;
    grid-template: 'information'
    'img'
    'horizontal-line';
    padding: 20px;
}

.general-layout
{
    display: grid;
    grid-template: 'headline' 450px
        ' main  ' 500px
        ' main ' auto
        ' footer ' 250px;
    margin: 0;
    box-shadow: none;
}

.input-p1,
.input-p2,
.input-p3
{
    width: 60%;
}

.headline__img
{
    width: 220px;
    height: 150px;
}

}
